* {
  color: #15abc3;
  font-family: 'Source Code Pro', monospace;
  border-color: rgb(36,198,224);
  -moz-box-shadow: 10 10 10px rgba(36,198,224,1.0);
  -moz-box-shadow: 10 10 10px rgba(36,198,224,0.9);
  text-shadow: 0 0 8px rgba(36,198,224,1.0);
}

html {
  background-color: #222226;
}

a {
    color:#15abc3;
    text-decoration:none;
}


.Main {
  min-height: 70vh;
  background-color: #222226;

}

.Splash {
  background-image: url("./assets/tronsplash2.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SplashBody {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.middy {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border: 3px solid rgba(21,171,195,1.0);
  background-color: #222226;
  border-radius: 1em;

}

.lefty {
  /* background-color: red; */
  height: 80vh;
  border: 3px solid rgba(21,171,195,1.0);
  background-color: #222226;
  border-radius: 1em

}

.righty {
  /* background-color: green; */
  height: 80vh;
  border: 3px solid rgba(21,171,195,1.0);
  background-color: #222226;
  border-radius: 1em
}

.FooterStyle {
  min-height: 10vh;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(21,171,195,1.0);
  background-color: #222226;
  border-radius: 1em
}

.FooterWrap {
  background-color: red;
}

.HeaderStyle {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222226;
  border-radius: 1em;
}

.OctoSplash{
  cursor: pointer;
}

.LoginStyle {
  margin: 20px 0px
}


.HeaderTest{
  background-color: #222226;
}

.HeaderWrap {
  border: 5px solid rgba(21,171,195,1.0);
  background-color: #222226;
  border-radius: 1em
}

.Key {
  font-size: 1.5em;
  text-align: center;
  padding-top: 5vh;
}

.langTest {
  font-size: 1.3em;
  text-align: center;
}

.UserBuilder {
  font-size: 1em
}

.UserStyle {
  font-size: 1.3em;
  text-align: center;

}

.UserPic {
  border-radius: 2px
}

.commitThree {
  text-align: center;
  font-size: 1em;
}
